.container {
    padding: 20px 30px;
    width: fit-content;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.title {
    margin: 0;
    margin-bottom: 10px;
}

.divider {
    margin: 10px 0 !important;
}

.alignCenter {
    text-align: center;
    margin: 0;
}

.result {
    color: gray;
    font-weight: 600;
    margin: 0;
}